<include href="views/partials/_header.html" />

<div class="row">
    <div class="columns small-12">
        <h2 class="h3 headline">Tasks</h2>
    </div>
</div>

<div class="row">
    <div class="columns small-12">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th width="200">Created</th>
                <th width="200">Last updated</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{ @tasks }}" value="{{ @task }}">
                <tr>
                    <td><a href="{{@BASE}}/tasks/{{ @task->id }}">{{ @task->name }}</a></td>
                    <td>{{ @Helper::formatDateTime(@task->created_at) }}</td>
                    <td>{{ @Helper::formatDateTime(@task->updated_at) }}</td>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>
</div>

<include href="views/partials/_footer.html" />